* {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}
a {
    padding: 16px;
    color: black;
    font-size: 16px;
}
#img { 
    background-image: url("https://lh3.googleusercontent.com/ogw/ADGmqu_kbVYV7U0ydb973KpmsAbvNKlMX82mXpEQvmj0Tg=s32-c-mo");
    border-radius: 50%;
} 
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {

}
.input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    margin-top: 5%;
    border-radius: 20px;
    border: black 1px solid;
}
.input:hover {
    box-shadow: 5px 5px 20px 2px rgb(216, 203, 203) ;
}
.roda1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.roda2 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
input {
    width: 60%;
    border-color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
button {
    border-color: white;
    background-color: white;
    padding: 10px;
}
.bu {
    display: flex;
}
.botao {
    margin-top: 40px;
}
.btn {
    margin-left: 35px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}
.btn:hover {
    border-radius: 5px;
    border: 1px solid #e0e4e7;
    background-color: #e0e4e7;
}
